<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8"/>
    <title>look at all these albums</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"/>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" th:href="@{'/css/normalize.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/skeleton.css'}"/>

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" th:href="@{'/images/favicon.png'}"/>

    <link rel="stylesheet" type="text/css" th:href="@{'/css/main.css'}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>

<header th:include="layout :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Number of Tracks</th>
        <th>Date Released</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album : ${albums}">
        <td><a th:href="@{'/admin/albums/edit/' + ${album.albumID}}">Edit</a></td>
        <td><a th:href="@{'/admin/albums/delete/' + ${album.albumID}}">Delete</a></td>
        <td><p th:text="${album.title}"/></td>
        <td><p th:text="${album.artist}"/></td>
        <td><p th:text="${album.genre}"/></td>
        <td><p th:text="${album.numOfTracks}"/></td>
        <td><p th:text="${album.dateReleased}"/></td>
        <td><p th:text="${album.price}"/></td>
    </tr>
    </tbody>
</table>

<footer th:include="layout :: footer"></footer>

</body>
</html>